.highlights{
    background-color: var(--bg-highlights);
    padding: 2.5rem 0;
    text-align: center;
}

.highlights__title{
    color: var(--cinza-escuro);
    font-size: 1.5rem;
    font-family: var(--montserrat);
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.highlights__panel{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.highlights__panel-img{
    width: 100vw;
    box-shadow: 0 5px 10px 20px #00000020;
    margin-bottom: .5rem;
}

.highlights__panel-text{
    font-size: 1.2rem;
    line-height: normal;
    margin: 0 1.5rem;
    text-align: initial;
}

.highlights__button{
    border: 1px solid var(--vermelho-forte);
    color: var(--vermelho-forte);
}